<ion-header [translucent]="true">
</ion-header>



<ion-content [fullscreen]="true" class="conteudo">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="topo">
    <ion-img class="logo" src="../../assets/Logo.jpg.jfif" alt="" />
    <p class="marca">Watch Movie's</p>

    <!-- pesquisar -->
    <ion-header>
      <ion-toolbar class="pesquisar">
        <ion-searchbar color="medium"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  </div>

  <h4>
    Ação
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/acao1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/acao2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/acao3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/acao4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/acao5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    Ficção Científica
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/fic1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/fic2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/fic3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/fic4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/fic5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    Romance
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/roma1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/roma2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/roma3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/roma4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/roma5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    terror
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/terr1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/terr2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/terr3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/terr4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/terr5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>


    

    
</ion-content>