<ion-header [translucent]="true">
</ion-header>



<ion-content [fullscreen]="true" class="conteudo ion-page">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="topo">
    <ion-img class="logo" src="../../assets/Logo.jpg.jfif" alt="" />
    <p class="marca">Watch Movie's</p>

    <!-- pesquisar -->
    <ion-header>
      <ion-toolbar class="pesquisar">
        <ion-searchbar color="medium"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  </div>

  <h4>
    Destaque da semana
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/dest1.jpg" alt="" id="open-modal">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/dest2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/dest3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/dest4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/dest5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    Clássicos
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/clas1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/clas2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/clas3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/clas4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/clas5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    Baseado em fatos reais
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/real1.jpg" alt="" >
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/real2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/real3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/real4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/real5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    Romance
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide>
        <ion-card class="carrossels">
          <img src="../../assets/roma1.jpg" alt="">
        </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/roma2.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels"> 
        <img src="../../assets/roma3.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/roma4.jpg" alt="">
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card class="carrossels">
        <img src="../../assets/roma5.jpg" alt="">
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <h4>
    Ação
  </h4>

  <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true">
    <swiper-slide *ngFor="let f of filmes">
        <ion-card class="carrossels">
          <img src={{f.imagem}} alt="">
        </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filme</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <img src="../../assets/dest1.jpg" alt="">
      </ion-content>    
    </ng-template>
  </ion-modal>


    
</ion-content>